config topics
    list topic test/t1
    list topic test/t1
    list topic test/t1
    list topic test/t2
    list topic test/t3

config event
    option topic test/t1
    option parameter data.temp
    option value 20
    option operand <=
    option type decimal
    option sender from@mail.com
    list recipients example1@mail.com
    list recipients example2@mail.com

config event
    option topic test/t2
    option parameter data.temp
    option type decimal
    option operand <
    option value 15
    option sender from2@mail.com
    list recipients example1@mail.com
    list recipients example2@mail.com